body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;
width: 500px;
height: 100%;
align-content: center;
margin: 0 auto;
}


ul {list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #0492c2;
    text-align: right;
}    
/* Register heading in Register page */
.RegisterText h2{
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-left: 0%;
}

/* paragraph of the register page */
.RegisterText p{
  font-size: 11px;
  color: #616060;
}

/* Login heading in Login page */
.LoginText h2{
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-left: 0%;
}
    
li {float: right; 
}
    h3 {
        margin-top: 0.7%;
        text-align: left;
        margin-left: 10%;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
    }
    h2 {
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      margin-left: -25%;
  }

li a {
color: white;

text-transform: uppercase;
text-decoration: none;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}
.Registerbtn a{
  text-decoration: none;
  color: white;
}
/* For the continue button in register page*/
.Continue a{
  text-decoration: none;
  color: white;
}

/* For the cancel button in register page*/
.cancelbtn a{
  text-decoration: none;
  color: white;
}
/* For the Login button in login page*/
.LogIntoPage a{
  text-decoration: none;
  color: white;
}

li a:hover:not(.active) {background-color: #111;}

#about{
    background: #434343;
border-radius: 5px;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
display: inline-block;
}

button {
    color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #0492c2;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
width: 50%;
  
}

button:hover {
background: #434343;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;

}

.Registerbtn{
  width: auto;
  padding: 10px 18px;
  background-color: #0492c2;
}

.cancelbtn{
  width: auto;
  padding: 10px 18px;
  background-color:#f44336;
}

.container {
  padding: 16px;
}
.container1 {
  padding: 16px;
  background-color:#f1f1f1;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}